<div class="app-col">
  <div class="title-row-wrapper">
    <div class="title-row">
      <div class="d-flex align-items-center">
        <h1>Authors</h1>
        <div class="input-group ms-2 ms-lg-5">
          <!-- TODO fix autofocus when navigating later-->
          <input id="filterInput" #filterInput (keyup)="filter(filterInput.value)" autofocus class="form-control" placeholder="filter" aria-label="Filter">
          <span class="input-group-text"><mat-icon>filter_alt</mat-icon></span>
        </div>
      </div>
      <button (click)="navigateToNewAuthor()" class="btn btn-success btn-lg me-2 me-lg-4 mt-2 mt-lg-0">
        add Author
      </button>
    </div>
  </div>
  <div>
    <app-loading-indicator-overlay-wrapper [showOverlay]="!filteredAuthors" spinnerSize="6x">
      <div id="author-table-wrapper" class="table-wrapper">
        <app-author-table *ngIf="filteredAuthors" [authors]="filteredAuthors" (selectAuthor)="onAuthorSelected($event)"></app-author-table>
      </div>
    </app-loading-indicator-overlay-wrapper>
  </div>
</div>
