<div class="app-col mat-elevation-z8">
  <div class="p-2 ms-lg-3 title-row d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <h1>Home</h1>
    </div>
  </div>
  <div class="pb-3" style="border-top: 2px solid gray;">
    <p class="mx-2 mx-lg-5 mt-0 mt-3 fs-5">
      Welcome to our <strong>Demo Bookstore</strong>. This is a just a frontend demonstration with no backend or persistent database.
      Feel free to edit, add or delete anything you like - the data is kept in <strong>your browsers memory</strong> only and will not be shared with others.
      If you leave the page all changes are lost!
      <br>
      <br>
      So don't be scared - go crazy :)
    </p>
    <p class="mx-2 mx-lg-5 mt-0 mt-3 fs-6">
      Since this is a playground different pages are implemented differently:
      <br>
      LibraryComponent and YourBooksListComponent are fully "reactive" by embracing the full power of RXJS (e.g. combining streams with combineLatest) and
      async pipe
      <br>
      Other smart components may materialize data directly or use a mix of the two.
    </p>
  </div>
</div>
