@import '../node_modules/bootstrap/scss/bootstrap';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~cropperjs/dist/cropper.css';
@import "../react/src/mock-backend/shared";

.mat-dialog-container {
  margin: 55px 20px 20px;
  height: fit-content !important;
}

.standalone-form-field .mat-form-field-infix {
  width: auto;
}

.mat-button-toggle-appearance-standard {
  background: none;
}

.mat-button-toggle-appearance-standard {
  border: 1px solid rgba(0, 0, 0, .12) !important;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background: #d7d7d7;
  border: 1px solid black !important;
}
