<p>global-message works!</p>
<div class="global-messages">
  <div *ngIf="globalMessageService.message$ | async as mess">
    <div role="alert" class="alert alert-{{ mess.type }} d-flex justify-content-between align-items-center">
      <div>
        {{ mess.message }}
        <div *ngIf="mess.detail" class="small-message">
          {{ mess.detail }}
        </div>
      </div>
      <fa-icon (click)="globalMessageService.clearAlertMessage()" icon="times" size="lg" class="cursor-pointer ms-3 "></fa-icon>
    </div>
  </div>
</div>
