<div class="app-col">
  <div class="title-row-wrapper">
    <div class="title-row">
      <h1 *ngIf="!isLoading">{{fullname}}</h1>
    </div>
  </div>

  <div>
    <app-loading-indicator-overlay-wrapper [showOverlay]="isLoading" spinnerSize="6x">
      <div class="row mx-1 mx-lg-2" style="min-height: 400px;">
        <div class="col-md-8">
          <ng-container *ngIf="author">
            <div *ngIf="author?.penName" class="label mt-3"><strong>{{fullname}}</strong> is a pen name of <strong>{{author.fullRealName}}</strong></div>
            <div class="mt-3">
              <span class="label">Born {{author?.birthdate?.toFormat("dd.LL.yyyy")}} in {{author?.placeOfBirth}}</span>
              <span *ngIf="!author?.dateOfDeath" class="label">&nbsp;&nbsp;(Age {{author?.age}})</span>
            </div>
            <div *ngIf="author?.dateOfDeath">
              <span class="label">Died {{author?.dateOfDeath?.toFormat("dd.LL.yyyy")}}  in {{author?.placeOfBirth}}</span>
              <span class="label">&nbsp;&nbsp;(Age {{author?.age}})</span>
            </div>
            <div *ngIf="author.website" class="mt-3 label">Homepage: <a href="{{author?.website}}">{{author?.website}}</a></div>
            <div class="label">Genre: {{author?.genre}}</div>
            <div class="mt-3 note" [innerHTML]="author?.note"></div>
          </ng-container>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center justify-content-start">
          <div class="foto-wrapper">
            <img *ngIf="imageUrl" [src]="imageUrl" class="author-foto-img" alt="Foto of the Author">
          </div>
          <div class="mt-4">
            <h2>Books written by {{fullname}}</h2>
            <div *ngIf="isBooksLoading" class="ms-5 mt-3">
              <fa-icon icon="spinner" size="3x" [classes]="['fa-spin']"></fa-icon>
            </div>
            <div *ngIf="!isBooksLoading && books?.length === 0" class="ms-4">
              No books from {{fullname}} saved - you can add some in the <a routerLink="/library"> Library</a>
            </div>
            <ul *ngIf="!isBooksLoading">
              <li *ngFor="let book of books"><a routerLink="/library/edit/{{book.id}}">{{book.title}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 px-4 px-lg-5 mb-3 d-flex align-items-center justify-content-between ">
          <button (click)="navigateToMasterPage()" class="btn btn-secondary btn-lg">
            &nbsp;back&nbsp;
          </button>
          <button (click)="navigateToEditPage()" class="btn btn-warning btn-lg px-4">
            &nbsp;edit&nbsp;
          </button>
        </div>
      </div>
    </app-loading-indicator-overlay-wrapper>
  </div>
</div>
