<div class="app-col mat-elevation-z8">
  <div class="d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex align-items-baseline m-3 mb-0">
      <h1 class="pt-2 pb-3">Authors</h1>
      <mat-form-field appearance="outline" class="ms-2 ms-lg-5 input-remove-bottom-margin flex-shrink-1 standalone-form-field">
        <mat-label>Filter</mat-label>
        <input #searchTerm (keyup)="filter(searchTerm.value)" matInput placeholder="type to filter">
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div>
    <button (click)="navigateToNewAuthor()" class="btn btn-success mx-auto mx-lg-3 ms-lg-0 mb-2 mb-md-0">
      <fa-icon icon="plus"></fa-icon>
      add author
    </button>
  </div>
  <div style="border-top: 2px solid gray;">
    <app-loading-indicator-overlay-wrapper [showOverlay]="!filteredAuthors" spinnerSize="6x">
      <app-author-table *ngIf="filteredAuthors" [authors]="filteredAuthors" (select)="onAuthorSelected($event)"></app-author-table>
    </app-loading-indicator-overlay-wrapper>
  </div>
</div>
