<nav class="navbar navbar-expand-md navbar-light shadow p-0">
  <a routerLink="/" class="navbar-brand d-flex align-items-center ms-3 me-0">
    <img src="/assets/demo%20logo.png" class="logo-image d-none d-lg-inline" alt="logo">
    <div class="d-flex flex-column justify-content-center ms-0 ms-lg-4">
      <div class="title main-highlight-color">Tour of Heroes</div>
      <div class="subtitle">Angular demonstration</div>
    </div>
  </a>
  <button class="navbar-toggler m-2" (click)="isMenuCollapsed=!isMenuCollapsed" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNav" class="navbar-collapse justify-content-between align-items-center"
       (click)="isMenuCollapsed=true" [hidden]="isMenuCollapsed">
    <ul class="navbar-nav w-100 ms-0 ms-lg-2">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/heroes" routerLinkActive="active" class="nav-link">
          Heroes
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/abilities" routerLinkActive="active" class="nav-link">
          Abilities
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/quiz" routerLinkActive="active" class="nav-link">
          Quizzes
        </a>
      </li>
      <!--      <mat-divider class="d-block d-md-none"></mat-divider>-->
      <!--      <div *ngIf="(userService.authentication$ | async ) as userWrapper" (click)="userService.logout()"-->
      <!--           class="logout-link ms-md-auto me-3 d-flex align-items-center">-->
      <!--        <span class="d-inline d-md-none d-xl-inline"><span class="d-inline d-md-none"> logout</span> {{userWrapper.user?.username}}</span>-->
      <!--        <i matTooltip="log out" class="fa fa-sign-out-alt fa-lg ms-2" aria-hidden="true"></i>-->
      <!--      </div>-->
    </ul>
  </div>
</nav>
