$enable-gradients: true;
$enable-shadows: true;
$enable-button-pointers: true;

$warning: #c39007;
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h5, .h5 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

h1, .h1 {
  font-size: 1.75rem;

  @media (max-width: 991px) {
    font-size: 1.4rem;
  }
}

h2, .h2 {
  font-size: 1.4rem;

  @media (max-width: 991px) {
    font-size: 1.2rem;
  }
}

h3, .h3 {
  font-size: 1.2rem;

  @media (max-width: 991px) {
    font-size: 1.1rem;
  }
}

.app-col {
  @extend .col;
  @extend .m-2;
  @extend .mx-lg-4;
  @extend .mt-lg-4;
  @extend .mb-lg-4;
  border-radius: 10px !important;
}

body {
  margin: 0;
}

.btn {
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.comp-wrapper {
  margin-left: 12px;
  margin-right: 12px;
}

.title-row {
  min-height: 64px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.add-more-books-label {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}

.fa-mars {
  color: blue;
}

.fa-venus {
  color: deeppink;
}

.fa-transgender-alt {
  color: #a500ff;
}

.fa-info, .fa-question-circle {
  color: #2b95e0;
  margin-right: 4px;
}

.overlay-base {
  background: transparent;
  transition: background 0.4s linear;
}

.overlay-base.overlay-backdrop {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  pointer-events: none;
  //min-height: 300px;
  min-height: calc(100vh - 200px);
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.overlay-icon-wrapper {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  pointer-events: none;
}

.fa-spinner {
  z-index: 10000;
}

.MuiTableSortLabel-root {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, .54) !important;
}

.selectable-table-row:hover {
  background-color: #ffd200;
  cursor: pointer;
}

.ql-container.ql-snow {
  font-size: 1.1rem;
  height: 200px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
