@import "../node_modules/cropperjs/dist/cropper.css";
@import "../react/src/mock-backend/shared";

.title-row {
  @extend .p-2;
  @extend .ps-lg-4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
}

.comp-wrapper {
  @extend .pt-1;
  @extend .pb-1;
  margin-left: 12px;
  margin-right: 12px;
}

.fa-times {
  cursor: pointer;
}

.overlay-base {
  background: transparent;
  transition: background 0.4s linear;
}

.overlay-base.overlay-backdrop {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  pointer-events: none;
  //min-height: 300px;
  min-height: calc(100vh - 200px);
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.overlay-icon-wrapper {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  pointer-events: none;
}

.fa-spinner {
  z-index: 10000;
}

.MuiTableBody-root {
  tr td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.MuiTableSortLabel-root {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, .54) !important;
}

.selectable-table-row:hover {
  background-color: #ffd200;
  cursor: pointer;
}

.ql-container.ql-snow {
  font-size: 1.1rem;
  height: 200px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.author-foto-img {
  width: 272px;
}

.book-image {
  width: 186px;
}

.first-published {
  color: #656565;
  font-size: 0.8rem;
}

.by-label {
  font-size: 0.9rem
}

.book-detail-image {
  height: 100px;
}

.MuiDialog-container {
  margin: 20px;
}

.MuiDialog-paper {
  margin-left: 14px !important;
  margin-right: 14px !important;
  @media (max-width: 991px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.book-detail-dialog .MuiDialog-paper {
  max-width: 1000px !important;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.lib-marker-dropdown-menu {
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  top: 25px;
}

.library-marker-button-group {
  position: absolute;
  bottom: 30px;
}

.btn-split-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-split-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.error-label {
  color: #d32f2f;
}
