@import "../react/src/mock-backend/shared";

.table-wrapper {
  min-height: 320px;
}

.q-table {
  width: 100%;
}

.q-table .text-start {
  padding-left: 20px;
  padding-right: 10px;
}

tr {
  border-bottom-width: 1px;
  border-color: #0000001f;
  height: 44px;
  font-size: 0.9rem;
}

.q-table .sortable {
  cursor: pointer;
  color: #0000008a;
  font-size: 0.9rem;

  i {
    font-weight: bold;
  }
}

.q-table .sorted .q-icon {
  transform: rotate(
      180deg
  );
}

.q-table__bottom {
  margin-left: 25px;
}

.btn-success {
  color: #fff;
  background-color: #198754;
  background-image: var(--bs-gradient);
  border-color: #198754;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.btn-success:hover {
  color: #fff;
  background-color: #157347;
  background-image: var(--bs-gradient);
  border-color: #146c43;
}
