@import "../react/src/mock-backend/shared";

.table-wrapper {
  min-height: 320px;
}

.q-table {
  width: 100%;
}

.q-table .text-start {
  padding-left: 20px;
  padding-right: 10px;
}

tr {
  border-bottom-width: 1px;
  border-color: #0000001f;
  height: 44px;
  font-size: 0.9rem;
}

.q-table .sortable {
  cursor: pointer;
  color: #0000008a;
  font-size: 0.9rem;

  i {
    font-weight: bold;
  }
}

.q-table .sorted .q-icon {
  transform: rotate(
      180deg
  );
}

.q-table__bottom {
  margin-left: 25px;
}
