@import "../react/src/mock-backend/shared";

.q-table {
  width: 100%;
}

tr {
  border-bottom-width: 1px;
  border-color: #0000008a;
  height: 45px;
}

.q-table .sortable {
  cursor: pointer;
  color: #0000008a;
}

.q-table .sorted .q-icon {
  transform: rotate(
      180deg
  );
}
