<div class="app-col mat-elevation-z8">
  <div class="d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex align-items-baseline m-3 mb-0">
      <h1 class="pt-2 pb-3">Author {{formGroup.get('firstname')?.value}} {{formGroup.get('lastname')?.value}}</h1>
    </div>
  </div>

  <div [formGroup]="formGroup" style="border-top: 2px solid gray;">
    <app-loading-indicator-overlay-wrapper [showOverlay]="isLoading" spinnerSize="6x">
      <div class="row mx-3 gx-0 gx-lg-5">
        <div class="col-lg-6 pt-2">
          <h2 class="mb-2">Personal Data</h2>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Firstname" formControlName="firstname" required>
            <mat-error>input required</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Lastname" formControlName="lastname" required>
            <mat-error>input required</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="birthdatePicker" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdatePicker></mat-datepicker>
            <mat-error>input required</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Place of birth</mat-label>
            <input matInput placeholder="Place of birth" formControlName="placeOfBirth" required>
            <mat-error>input required</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date of death</mat-label>
            <input matInput [matDatepicker]="dateOfDeathPicker" formControlName="dateOfDeath">
            <mat-datepicker-toggle matSuffix [for]="dateOfDeathPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfDeathPicker></mat-datepicker>
            <mat-error>input required</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Place of death</mat-label>
            <input matInput placeholder="Place of death" formControlName="placeOfDeath">
            <mat-error>input required</mat-error>
          </mat-form-field>

          <div class="row mb-4 align-items-center gender-input-row">
            <div class="col-auto">
              <span class="ms-2">Gender <span class="required-asterisk">*</span></span>
            </div>
            <div class="col-auto ps-2f">
              <mat-button-toggle-group formControlName="gender">
                <mat-button-toggle value="MALE" class="d-flex align-items-center justify-content-center">
                  <app-gender-icon gender="MALE" [showLabel]="true"></app-gender-icon>
                </mat-button-toggle>
                <mat-button-toggle value="FEMALE" class="d-flex align-items-center justify-content-center">
                  <app-gender-icon gender="FEMALE" [showLabel]="true"></app-gender-icon>
                </mat-button-toggle>
                <mat-button-toggle value="NON_BINARY" class="d-flex align-items-center justify-content-center">
                  <app-gender-icon gender="NON_BINARY" [showLabel]="true"></app-gender-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <app-reactive-validation-display [control]="formGroup?.get('gender')" class="gender-error-label"></app-reactive-validation-display>
          </div>
          <div class="row mb-4 mb-lg-0 align-items-center">
            <div class="col-auto">
              <label for="penName" class="ms-2">Pen name</label>
            </div>
            <div class="col-auto">
              <mat-checkbox id="penName" formControlName="penName"></mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pt-2">
          <h2 class="mt-lg-0 mb-2">Notes</h2>
          <quill-editor [sanitize]="true" formControlName="note"></quill-editor>
          <div class="d-flex align-items-center mt-4 mt-lg-3">
            <h2 class="me-3">Foto</h2>
            <div *ngIf="displaySaveReminder" class="text-danger fw-bold">You changed the foto - don't forget to save!</div>
            <app-reactive-validation-display [control]="formGroup?.get('foto')"></app-reactive-validation-display>
          </div>
          <div class="author-foto-wrapper col-sm-7 col-md-6 col-lg-5 col-xl-4 position-relative d-flex flex-column justify-content-center align-items-center">
            <img *ngIf="imageUrl" [src]="imageUrl" class="author-foto-img" alt="Foto of the Author">
            <a (click)="openFotoUploadDialog()" class="author-foto-change-link" role="button">{{formGroup.get('id')?.value ? 'change foto' : 'upload foto'}}</a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 px-4 px-lg-5 mb-3 d-flex align-items-center justify-content-between ">
          <button (click)="navigateBack()" class="btn btn-secondary btn-lg">
            cancel
          </button>
          <button (click)="saveAndNavigateToMasterPage()" class="btn btn-success btn-lg px-4">
            save
          </button>
        </div>
      </div>
    </app-loading-indicator-overlay-wrapper>
  </div>
</div>
