.dropdown-menu {
  margin-top: 30px;
}

.btn-main {
  width: 140px;
}

.already-chosen-button {
  border: 2px solid gray;
  border-radius: 4px;
  min-width: 145px;
  text-align: center;
  cursor: default;
}

.icon-want-to-read {
  color: gray;
}

.icon-currently-reading {
  color: #c39007;
}

.icon-read {
  color: green;
}
