<div class="btn-group mb-3">
  <button (click)="changeStatus('want to read')" type="button" class="btn btn-secondary btn-sm btn-main">want to read</button>
  <button (click)="isMenuCollapsed=!isMenuCollapsed" type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu " [class.d-block]="isMenuCollapsed">
    <li><a class="dropdown-item" (click)="changeStatus('want to read')">want to read</a></li>
    <li><a class="dropdown-item" (click)="changeStatus('read')">read</a></li>
    <li><a class="dropdown-item" (click)="changeStatus('currently reading')">currently leading</a></li>
  </ul>
</div>
