<div class="d-flex align-items-start align-items-lg-center justify-content-start flex-column flex-md-row">
  <h1>{{book?.title}}</h1>
  <button (click)="navigateToBookEditPage()" class="btn btn-warning btn-lg ms-2 ms-lg-4 me-5">edit</button>
</div>
<div class="d-flex flex-column flex-md-row">
  <div>
    <div class="subtitle">{{book?.subtitle}}</div>
    <div *ngIf="book?.series" class="series">Book {{book?.numberWithinSeries}} of
      <span appConfirmation confirmTitle="{{book?.series}}" cancelButtonText="go back" [hideConfirmButton]="true"
            confirmMessage="Got me :)<br /><br />In a <u>real application</u> this could display the series with all it's books.<br/>This feature is not part of the demo though and therefore <strong>not implemented</strong> - sorry!"
            class="btn-link cursor-pointer"
      >{{book?.series}}</span>
    </div>
    <div class="mt-2 author">by <a routerLink="/author/{{book?.authorId}}">{{book?.authorFullName}}</a></div>
    <div class="mt-2 first-published">first published {{book?.firstPublished?.toFormat("dd.LL.yyyy")}}</div>

    <div class="description">{{book?.description}}</div>
  </div>
  <div class="book-foto-wrapper ms-0 ms-md-4">
    <img [src]="imageUrl" class="book-image" alt="Foto of the Author">
  </div>
</div>
