.subtitle {
  font-size: 1.3rem;
}

.series {
  font-size: 0.9rem;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
}

.first-published {
  color: #656565;
  font-size: 0.8rem
}

.description {
  font-size: 0.7rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.book-image {
  width: 186px;
}
