.overlay-base {
  background: transparent;
  transition: background 0.4s linear;
}

.overlay-base.overlay-backdrop {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  pointer-events: none;
}

.icon-wrapper {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  pointer-events: none;
}

.fa-spinner {
  z-index: 10000;
}
