<div class="d-flex align-items-center justify-content-between dialog-content">
  <h1 class="card-title">{{ data.confirmTitle }}</h1>
  <fa-icon (click)="dismissDialog()" icon="times" size="2x" class="dismiss-dialog"></fa-icon>
</div>
<div class="row mt-3">
  <div class="col dialog-content" [innerHTML]="data.confirmMessageSafeHtml"></div>
</div>
<div class="row mt-4">
  <div class="col d-flex align-items-center justify-content-between">
    <button class="btn btn-secondary btn-lg" (click)="dismissDialog()">{{ data.cancelButtonText }}</button>
    <button *ngIf="!data.hideConfirmButton" class="btn btn-{{ data.confirmButtonType }} btn-lg" (click)="confirmClicked()">
      {{ data.confirmButtonText }}
    </button>
  </div>
</div>
