.book-card {
  border: 2px solid gray;
  border-radius: 10px;

}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4rem;
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
}

.series {
  font-size: 0.9rem;
}

.book-image {
  height: 100px;
}

.first-published {
  color: #656565;
  font-size: 0.8rem
}

.isinlibrary-button {
  position: absolute;
  bottom: 8px;
}

.show-details-link {
  position: absolute;
  bottom: 3px;
}
