<div class="d-flex align-items-center justify-content-start dialog-content">
  <h2 class="c-form__headline o-heading-2--highlight">Upload foto</h2>
</div>
<div class="row mt-3">
  <div class="col dialog-content mx-2">
    <div class="row d-flex justify-content-center align-items-center">
      <input #fileInput type="file" (change)="onFileUpload($event)" accept="image/jpeg, image/png" class="form-control">
      <div class="text-danger font-weight-bold ml-3" style="font-size: 1.1em">{{ feedback }}</div>
    </div>
    <div class="row justify-content-center cropper-wrapper mt-3">
      <img *ngIf="imageUrl" id="image" [src]="imageUrl" alt="image" style="max-width: 100%">
    </div>
    <div class="row mt-3">
      <div class="col d-flex justify-content-between">
        <button (click)="dismissDialog()" class="btn btn-secondary btn-lg">Cancel</button>
        <button *ngIf="croppedImageReady" (click)="closeDialogAndReturnImageUrl()" class="btn btn-primary btn-lg">
         &nbsp;OK&nbsp;
        </button>
      </div>
    </div>
  </div>
</div>
