<table *ngIf="sortedAuthors" [dataSource]="sortedAuthors" mat-table class="selectable-table w-100" aria-label="Author Table"
       matSort (matSortChange)="sortData($event)" matSortActive="lastname" matSortDirection="asc" [matSortDisableClear]="true">
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col">FIRSTNAME</th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col">LASTNAME</th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>
  <ng-container matColumnDef="penName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col">PEN NAME</th>
    <td mat-cell *matCellDef="let element">
      <fa-icon *ngIf="element.penName" icon="check" size="lg"></fa-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col"> GENDER</th>
    <td mat-cell *matCellDef="let element">
      <app-gender-icon [gender]="element.gender" [showLabel]="showAllDetails"></app-gender-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col"> AGE</th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>
  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col">BIRTHDATE</th>
    <td mat-cell *matCellDef="let element"> {{element.birthdate | date }} </td>
  </ng-container>
  <ng-container matColumnDef="birthdateWithPlace">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col">BIRTHDATE</th>
    <td mat-cell *matCellDef="let element"> {{element.birthdate | date }}, {{element.placeOfBirth}} </td>
  </ng-container>
  <ng-container matColumnDef="dateOfDeath">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" scope="col"> DATE OF DEATH</th>
    <td mat-cell *matCellDef="let element">
      {{element.dateOfDeath | date }}<span *ngIf="element.dateOfDeath">, {{element.placeOfDeath}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onAuthorSelect(row)" class="table-row"></tr>
</table>
